/* General Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    /* background-image: url(DCDesignHaus\ -\ Etsy.jpeg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Header (Hero Section) */
  #hero {
    background: linear-gradient(135deg, gold ,black);
    color: #fff;
    text-align: center;
    padding: 5rem 3rem;
  }
  #hero h1 span {
    color: black;
  }
  .p{
    padding: 1.3rem;
  }
  #hero .cta .btn {
    background: wheat;
    color: #333;
    padding: 0.7rem 0.8rem;
    margin: 0.8rem;
    text-decoration: none;
    border-radius: 0.9rem;
  }
  #hero .cta .btn-secondary {
    background: #fff;
    color: #9013fe;
  }
  
  /* Section Styles */
  section {
    padding: 3rem 1.1rem;
    text-align: center;
  }
  
  /* Projects Grid */
  .project-grid {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

  }
  .link{
    background-color: #333;
    border-radius: 3rem;
    padding: 0.5rem 0;
    color: red;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

   
  }
  .project-card {
    background: #f4f4f4;
    padding: 4.5rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30rem;
  }
  
  .logo{
    width: 4rem;
    height: 4rem;
  }

  /* contact section  */
form{
  width: 500px;
  margin: auto;
  display: grid;
  gap: 0.5rem;
}

  /* Footer */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1.3rem 0;
  }
  







  /* testing   */
.slideshow {
  position: relative;

}

.mySlides {
  display: none;

  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {

  right: 0;
}

.prev{

  left : 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

